body{
    background-image: url("./image/marek-piwnicki-xfixPcc5aOE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body>h1{
    font-size:50px;
    color:rgb(240, 248, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom:0px;
    text-shadow: 3px 3px 10px #000000;

}
.container{
    margin-top:10px;
    display:flex;
    height:70vh;
    justify-content: center;
    align-items: center;
}
.item{
    height: 400px;
    width: 350px;
    background-color:rgba(85, 79, 79, 0.863);
    border-radius:10px;

}
.label{
    display: flex;
    margin-top:30px;
    margin-left: 15px;
    height: 40px;
    width:90%;
    border-radius: 5px;
    background-color: #c2c4b7;
}
#display{
    width:100%;
    margin:5px;
    display: inline;
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container1{
    display: inline-block;
    width:100%;
}
.grid{
    margin-top:30px;
    margin-left:20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap:20px;
}
.btn{
    background-color: #c2c4b7;
    height:40px;
    width: 60px;
    border-radius:7px;
    font-family: 'Courier New', Courier, monospace;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: #df8927d7;
    color:aliceblue;
    transition:color 0.4s;
    transition:background-color 0.4s;

}
.btn:active{
    background-color: #afa69d;
    transition: background-color 0.4s;
    color:#000000;
    transition: color 0.2s;
}
.backspace_btn{
    margin-top: 3px;
    width:20px;
}
p{
    display: inline;
}